menu "Bootloader configuration"

config LOADER_MOCKUP
    bool "Enable bootloader mockup mode"

if LOADER_MOCKUP

config LOADER_MOCKUP_DFU
    bool "Start in DFU mode"
    ---help---
      Boot in DFU mode of the eligible firmware automatically. This
      behavor replace a manual push on the DFU button at boot time.
      The loader boots the DFU mode of the currently eligible firmware


endif

config LOADER_FW_HASH_CHECK
    bool "Check firmware integrity at boot"
    ---help---
      Check that the Firmware image that is going to be booted is
      checked for integrity, using the hash data of the firmware header to
      compare with.
      This does not deactivate the CRC32 check of the firmware
      header structure

config LOADER_FLASH_LOCK
   bool "Lock flash banks at boot time"
   default y
   ---help---
      Lock current flash bank write access in DFU mode (allowing other
      bank update) and all banks write access in nominal mode.

endmenu
